.form {
    display: flex;
    flex-direction: column;
}

.form__row {
    display: flex;
}

.form__row_layout_between {
    justify-content: space-between;
    align-items: center;
}

.form__row_type_center {
    justify-content: center;
}

.form_type_edit-profile {
    width: 410px;
    max-width: 100%;
    margin: 0 auto;
}

.form_type_register {
    width: 396px;
    margin: 0 auto;
}

.form_type_login {
    width: 396px;
    margin: 0 auto;
}

.form__row_layout_column {
    justify-content: normal;
    flex-direction: column;
    margin-top: 24px;
}

.form__row_layout_column:first-child {
    margin-top: 0;
}

.form__error {
    color: #FF3055;
    margin: 7px 0;
    font-size: 10px;
    line-height: 12.1px;
}

@media (max-width: 767px) {
    .form_type_login {
        max-width: 100%;
    }
}
