.card__image {
    max-width: 100%;
    width: 100%;
}

.card__row {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 21px;
}

.card__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
}

.card__like {
    background-color: #F9F9F9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    position: relative;
}

.card__like:hover {
    opacity: .8;
}

.card__like::before {
    content: "";
    display: block;
    width: 10px;
    height: 8.5px;
    background-color: #fff;
    mask: url(../../images/like.svg);
    -webkit-mask: url(../../images/like.svg);
}

.card__like_active::before {
    background-color: #FF3055;
}

.card__unlike {
    visibility: hidden;
    background-color: #F9F9F9;
    background-image: url(../../images/remove.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    position: relative;
}

.card__unlike:hover {
    opacity: .8;
}

.card:hover .card__unlike {
    visibility: visible;
}

.card__footer {
    border-top: 1px solid #E8E8E8;
    font-size: 11px;
    line-height: 13.31px;
    color: #A0A0A0;
    padding-top: 6px;
}

.cards-list {
    list-style: none;
    padding: 70px 0 0;
    max-width: 1140px;
    min-height: 560px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 33px;
}

.cards-list__item {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .cards-list {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 30px;
        max-width: 100%;
        padding: 85px 30px 0;
        margin-bottom: 170px;
    }

    .card__row {
        margin: 17px 0 19px;
    }
}

@media (max-width: 767px) {
    .card__like::before {
        position: absolute;
        top: 5px;
        right: 7px;
    }

    .card__title {
        font-size: 12px;
        line-height: 14.52px;
    }

    .card__row {
        margin: 14px 0 21px;
    }

    .card__footer {
        font-size: 10px;
        line-height: 12.1px;
    }

    .cards-list {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 34px;
        min-height: unset;
        padding: 0 10px 170px;
    }
}
