.section_type_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__header_type_profile {
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    text-align: center;
    margin: 74px auto 110px;
    border: none;
    padding: 0;
    letter-spacing: normal;
}

.form__row_layout_between {
    margin: 8px 0;
}

.form__divider {
    position: relative;
}

.form__divider::after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    border-bottom: 1px solid #E8E8E8;
    height: 1px;
    width: 100%;
}

.form__divider:last-child::after {
    display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .section__header_type_profile {
        margin: 236px auto 82px;
    }
}

@media (max-width: 767px) {
    .section__header_type_profile {
        margin: 70px auto 66px;
    }

    .section_type_profile {
        padding: 0 30px;
    }

    .form_type_edit-profile {
        width: 100%;
    }

    .form__btn_type_edit {
        margin-top: 375px;
    }
}
