.header__menu-toggle {
    display: none;
}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.header__nav_opened {
    display: flex;
    position: fixed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    cursor: pointer;
}

.overlay_opened {
    display: block;
}

.header__list {
    margin-left: auto;
}

.header__profile {
    margin-left: auto;
}

.header__list {
    font-size: 13px;
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0 0 0 60px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__link:hover {
    opacity: .7;
}

.header__link_type_dark {
    color: #000;
}

.header__button {
    background-color: #2BE080;
    border: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    padding: 3px 0 3px 11px;;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header__button:hover {
    opacity: .8;
}

.header__button_rounded {
    border-radius: 40px;
}

.header__button_theme_white {
    background-color: #fff;
    color: #000;
    box-shadow: 0 3px 14px 0 #00000014;
}

.header__link_type_signup {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.header__profile-img {
    margin-left: 7px;
    margin-right: 3px;
    padding: 7px;
    background-color: #fff;
    border-radius: 50%;
}

.header__profile-img_theme_white {
    background-color: #F9F9F9;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__button_type_signin {
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
}

.header__item_type_mobile {
    display: none;
}

@media (max-width: 1279px) {
    .header__item_type_mobile {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__nav_opened {
        display: flex;
    }

    .header__nav_opened .header__close-menu {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 520px;
        height: 100%;
        box-sizing: border-box;
        background: white;
        color: #000;
        overflow-y: auto;
        z-index: 1000;
        transform: translateX(100%);
        flex-direction: column;
        padding: 22px;
    }

    .header__nav_opened {
        transform: translateX(0);
        transition: transform 0.3s ease-out;
    }
}

@media (min-width: 1280px) {
    .header__link_active {
        font-weight: 500;
    }
}


@media (max-width: 767px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        overflow-y: auto;
        z-index: 1000;
        transform: translateY(-100%);
    }

    .header__nav_opened {
        transform: translateY(0);
        transition: transform 0.3s ease-out;
    }

    .header__menu-toggle {
        display: inline-block;
    }

    .header__nav {
        padding: 20px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header__link {
        color: #000;
        font-size: 18px;
        line-height: 21.78px;
        font-weight: 500;
        padding-bottom: 4px;
    }

    .header__link_active {
        border-bottom: 2px solid #000;
    }

    .header__list {
        margin: 103px auto 0;
        flex-direction: column;
        text-align: center;
        row-gap: 25px;
    }

    .header__profile {
        margin: auto auto 25px;
    }
}

